<app-my-data-table
 [headerList]="headerList"
 [dataList]="courseList"
 [fieldList]="fieldList"
 [bgColor]="'danger'"
 [textColor]="'white'"
>
</app-my-data-table>
<!-- <table class="table table-bordered bg-dark text-info">
        <thead>
            <tr>
                <th>Course Id</th>
                <th>Code</th>
                <th>Course Name</th>
                <th>Fees</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let course of courseList">
                <td>{{course.courseId}}</td>
                <td>{{course.courseCode}}</td>
                <td>{{course.courseName}}</td>
                <td>{{course.fees}}</td>            
            </tr>
        </tbody>
    </table> -->