<div class="card">
    <div class="card-header bg-info text-white">
        Manage Friends
    </div>
    <div class="card-body">
        <div class="row form-group" *ngIf="errorMessage !== ''">
            <div class="col alert alert-danger">
                {{errorMessage}}
            </div>
        </div>
        <div class="row form-group">
            <div class="col-sm-4">
                Name : 
            </div>
            <div class="col-sm-8">
                <!-- <input type="text" name=name #name class="form-control"/> -->
                <input type="text" name=name class="form-control" [(ngModel)]="friendName" (blur)="checkMandatory()" />                

                <!-- {{friendName}} -->
            </div>
        </div>
        <div class="row form-group">
            <div class="col-sm-4">
                <!-- <button class="btn btn-dark text-white" (click)="addFriend(name.value)">Add</button> -->
                <button class="btn btn-dark text-white" (click)="addFriend()" *ngIf="! isUpdate" [disabled]="friendName === ''">Add</button>
                <button class="btn btn-dark text-white" (click)="updateFriend()" *ngIf="isUpdate">Update</button>
                
            </div>
        </div>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let name of friendList;let i=index;">
                    <td>{{name}}</td>
                    <td>
                        <button class="btn btn-success m-1" (click)="edit(i)">Edit</button>
                        <button class="btn btn-danger m-1" (click)="delete(i)">Delete</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>