<div class="card-container">
    <div class="card">
        <div class="card-header bg-{{color}} text-{{txtColor}}">
            Personal Details
        </div>
        <div class="card-body">
            <table class="table table-bordered bg-{{color}} text-{{txtColor}}">
               <tr>
                   <th>First Name :</th>
                   <td>{{person.firstName}}</td>
               </tr>
               <tr>
                    <th>Last Name :</th>
                    <td>{{person.lastName}}</td>
                </tr>
                <tr>
                    <th>Gender :</th>
                    <td>{{person.gender}}</td>
                </tr>
                <tr>
                    <th>Date of Birth :</th>
                    <td>{{person.dob}}</td>
                </tr>
                <tr>
                    <th>Age :</th>
                    <td>{{person.age}}</td>
                </tr>
                <tr>
                    <th>Contact No :</th>
                    <td>{{person.contactNo}}</td>
                </tr>
                <tr>
                    <th>Email :</th>
                    <td>{{person.email}}</td>
                </tr>
            </table>
        </div>
    </div>    
</div>