<app-my-data-table
 [headerList]="headerList"
 [dataList]="educationList"
 [fieldList]="fieldList"
 [bgColor]="'warning'"
>

</app-my-data-table>
<!-- <table class="table table-bordered bg-dark text-info">
    <thead>
        <tr>
            <th>Sr No</th>
            <th>Degree</th>
            <th>Year</th>
            <th>Grade</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let education of educationList">
            <td>{{education.id}}</td>
            <td>{{education.degree}}</td>
            <td>{{education.year}}</td>
            <td>{{education.grade}}</td>            
        </tr>
    </tbody>
</table> -->